-# encoding: utf-8
%html
  %head
    %title Cards with Points
    %script(src="vendor/underscore.js")
    %script(src="vendor/jquery-1.8.3.js")
    %script(src="vendor/backbone.js")


    %script(src="/boot.js")
    %script(src="/app.js")
  %body
    %h1 Cards w. Points

  %section#new-card
    %textarea(placeholder="Make a new card here")
    %button add card

