body {
  background: #eee;
}

.card {
  text-decoration:none;  
  color:#000;  
  background:#ffc;  
  display:inline-block;  
  width:8em;  
  padding: .6em .6em;  
  margin: 1em;

  font-family:"Shadows Into Light Two",arial,sans-serif;  
  font-size:140%;  

  -moz-box-shadow:5px 5px 20px rgba(33,33,33,1);  
  -webkit-box-shadow: 5px 5px 20px rgba(33,33,33,.7);  
  box-shadow: 5px 5px 20px rgba(33,33,33,.7);  

  p {
    margin: 0;
  }

  .curr-vote {
    text-align: right;
  }
}  
